<h1>Sign in</h1>
<%= form_with url: session_path, local: true do |f|  %>
    <div class="form-group">

    <%= f.label :email %>
    <div class="input-group">
    <%= f.email_field :email%>
    </div>

    <%= f.label :password  %> 
    <div class="input-group">
    <%= f.password_field :password  %> 
    </div>
    <br>
    <%= f.submit "Sign In"  %> 
</div>
<% end %> 