<h3><%=@idea.title%></h3>
<p><%= @idea.description %></p>

<small>
posted by by:
<%= @idea.user&.full_name || "DELETED" %>
</small>

<small>
    <%= time_ago_in_words(@idea.created_at)  %> ago
</small>
<small>Last Edited : <%= time_ago_in_words(@idea.updated_at)  %> ago</small>
<small>
    <% if can? :crud, @idea %>
    <%= link_to("Edit", edit_idea_path(@idea.id))%> | 
    <% end %>
    <% if can? :crud, @idea %>
    <%= link_to("Delete",idea_path(@idea),method: :delete,data:{confirm: "Are you sure ?"})%>
    <% end %>
</small>
<h3>Give your awesome review  here:</h3>
<%= form_with model:[@idea,@review],local: true do |form|%>
    <ul>
        <% if @review.errors.full_messages.each do |msg|%>

        <li>
        <%= msg %>
       
        </li>
        <% end %>
        <% end %>
    </ul>
    <%= form.text_area :body, 
    cols: 50, 
    rows: 5, 
    placeholder: 'What is your review?'%>
    <%= form.submit %>

    <% end %>
<h3>Reviews:</h3>
    <% @reviews.each do |review|%>
    <p>
    <%= review.body %>
    <div>
    <small>
    reviewed by:
    <%= review.user&.full_name || "DELETED" %>
    </small>
</div>
        <small>
        <% if can? :crud, review %>
    <%= link_to "Delete",idea_review_path(@idea,review), method: :delete,data: {confirm: "Are you sure?"} %>
    <% end %>  
    </small>
    <hr>
    </p>
    <% end %>